:root {
    --display: block;
    --zIndex: 0;
}

body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
    overflow: hidden;  /* comment out to let players explore map before game starts*/
}
body.gameIsStarted {
    overflow: hidden;
  }
p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.debugTag {
    pointer-events: none;
    display: var(--display);
  }
#mainContent {
    pointer-events: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
#playerGUI {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* margin-left: 50%;
    margin-top: 50%; */
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    z-index: 9998;
    /* background-color: rgba(255, 99, 154, 0.482); */
}
#currencyCounter {
    pointer-events: none;
    float: right;
    font-family: 'VT323', monospace;
    /* margin-left: 50%;
    margin-top: 50%; */
    /* transform: translate(-100%); */
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 9998;
    /* background-color: rgba(203, 26, 129, 0.26); */
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/gui/counter.png);
}
#currencyDisplay {
    pointer-events: none;
    font-family: 'VT323', monospace;
    /* padding-top: 50px; */
    color: rgb(236, 236, 236);
    padding-right: 40px;;
    font-size: 75px;
    text-align: center;
    line-height: 200px;
    width: 90%;
    height: 100%;
    /* background-color: aquamarine; */
}
#startMenu {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    z-index: 9999;
    /* background-color: rgba(152, 196, 234, 0.349); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/gui/sign.png); */
}
#inventoryDeck { 
    position: fixed;
    width: 508px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/gui/inventoryDeck.png);
    bottom: 0;
    left: 50%;
    /* padding-bottom: 50px; */
    margin-bottom: 50px;
    transform: translate(-50%, 0);
}
#counterContainer {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-left: 83px;
    top: 9px;
    /* background-color: blue; */
    width: 408px;
    height: 27px;
    z-index: 100;
}
.slotCounter {
    pointer-events: none;
    float: right;
    font-family: 'VT323', monospace;
    font-size: 24px;
    text-align: center;
    vertical-align: center;
    line-height: 25px;
    border-radius: 10px;
    border-width: 1px;
    color: white;
    /* border-color: rgb(209, 175, 111); */
    border-style: 1px solid rgb(187, 197, 193);
    /* background-color: rgb(222, 187, 123); */
    background-color: rgb(142, 142, 142);
    /* border-color: rgb(187, 197, 193); */
    width: 27px;
    height: 27px;
    margin-right: 11px;
}
.slotCounter:last-child {
    margin-right: 0;
}
#slotContainer {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* left: 24px;
    top: 14px; */
    width: 460px;
    height: 70px;
}
.slot {
    pointer-events: auto;
    /* position: absolute; */
    top: 0;
    /* left: 0; */
    /* transform: translate(0, -50%); */
    width: 72px;
    height: 70px;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("assets/gui/slot1.png");
}
.slot:last-child {
    margin-right: 0;
}

/* .slot:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("assets/gui/flowerHover.png");
} */
 
#startDiv {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #gameIntro {
    pointer-events: none;
    padding-top: 30px;
    font-family: 'VT323', monospace;
    color: rgb(255, 255, 255);
    line-height: normal;
    vertical-align: center;
    text-align: center;
    font-size: 100px;
    width: 600px;
    height: 75px;
    margin-bottom: 50px;
  }
  #startDisplay {
    pointer-events: none;
    width: 437px;
    height: 276px;
    /* background-color: rgba(152, 196, 234, 0.349); */
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/gui/sign.png);
    /* margin-bottom: 10px; */
  }
  #introInstruction {
    pointer-events: none;
    padding-top: 30px;
    font-family: 'VT323', monospace;
    color: rgb(255, 255, 255);
    line-height: normal;
    vertical-align: center;
    text-align: center;
    font-size: 40px;
    width: 500px;
    height: 75px;
    margin-bottom: 30px;
  } 
 #gifContainer {
  pointer-events: none;
  padding-top: 650px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
}
#loading {
  pointer-events: none;
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(2);
  /* background-color: aqua; */
  background-image: url(assets/gui/loading.gif);
  margin-bottom: 30px;
}
#startButton {
    pointer-events: none;
    position: relative;
    width: 50px;
    height: 40px;
    margin: 20px;
}
#gameMap {
    /* pointer-events: none; */
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/world/worldMap.png);
    top: 0px;
    left: 0px;
    margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%, -50%); /* comment out when debugging */
}

/*  */
.worldObject {
    position: absolute;
}
.interactiveObject {
    background-color: rgb(202, 202, 202);
}
.staticSpriteObject {
    /* background-color: rgb(118, 169, 227); */
}
.item {
    position: absolute;
    /* background-color: rgb(225, 227, 118); */
    background-position: center;
    background-repeat: no-repeat;
}
.followerSprite {
    position: absolute;
    /* background-color: rgb(237, 161, 84); */
    background-position: center;
    background-repeat: no-repeat;
}
.mainPlayer {
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    /* background-color: rgb(120, 227, 118); */
    background-position: center;
    background-repeat: no-repeat;
}
canvas {
    position: absolute;
}
.guestPlayer {
    position: absolute;
    /* background-color: rgb(183, 118, 227); */
}
.colliderFoot {
    /* background-color: rgba(227, 227, 227, 0.66); */
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}
.flowerTrain {
    position: absolute;
    background-color: rgb(171, 39, 70);
}
.flower {
    position: absolute;
    /* transform: scale(10); */
    /* background-color: rgb(224, 137, 218); */
}
.slug {
    position: absolute;
    background-color: rgb(255, 187, 0);
}
.sprite {
    position: absolute;
    /* background-color: aqua; */
}
.pickFlowerOption {
    position: absolute;
    /* background-color: rgb(36, 130, 99); */
    z-index: 9000;
    width: 181px;
    height: 210px;
    transform: scale(0.25);
    background-image: url(assets/gui/pickFlower.gif);
    background-repeat: no-repeat;
    background-position: center;

}
.pickFlowerOption:hover {
    width: 181px;
    height: 210px;
    transform: scale(0.25);
    background-image: url(assets/gui/selectFlower.png);
    background-repeat: no-repeat;
    background-position: center;
  }

/* arrows for tracking face direction */
/* .arrow {
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .arrow-up {
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #ffffff transparent;
    margin-top: -20px;
  }
  
  .arrow-down {
    border-width: 20px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
    margin-top: 0;
  }
  
  .arrow-left {
    border-width: 10px 20px 10px 0;
    border-color: transparent #ffffff transparent transparent;
    margin-left: -20px;
    margin-top: -10px;
  }
  
  .arrow-right {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    margin-left: 0;
    margin-top: -10px;
  } */

